<footer>
    <div class="footer-left">
        <a routerLink="/legal-notice">Legal Notice</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="links">
        <div class="link">
            <a href="https://de.linkedin.com/in/daniel-johannsen-738464151?trk=people-guest_people_search-card" target="_blank" rel="noopener noreferrer"><img src="assets/img/linkedin-box-fill.png"></a>
        </div>
        <div class="link">
            <a href="https://github.com/daniel-johannsen" target="_blank" rel="noopener noreferrer"><img src="assets/img/git.png"></a>
        </div>
        <div class="link">
            <a href="https://www.xing.com/" target="_blank" rel="noopener noreferrer"><img src="assets/img/xing-fill.png"></a>
        </div>
    </div>
</footer>