<div class="menu-container">
    <header>
        <a href="#" id="logo"><img src="assets/img/logo2.jpg" class="logo" data-aos="zoom-in-right" data-aos-delay="400"></a>
        <div class="menu-links" data-aos="zoom-in-left" data-aos-delay="400">
            <a href="#" class="link hide-mobile">HOME</a>
            <a href="#about" class="link hide-mobile">ABOUT</a>
            <a href="#portfolio" class="link hide-mobile">PORTFOLIO</a>
        </div>
        <!--Dropdown menu for responsive-->
        <div class="dropdown">
            <img src="assets/img/dropdown-btn.png" (click)="dropdown()" class="dropbtn" data-aos="zoom-in-left" data-aos-delay="400">
            <div id="myDropdown" class="dropdown-content">
                <a href="#" id="nav_1">HOME</a>
                <a href="#about" id="nav_2">ABOUT</a>
                <a href="#portfolio" id="nav_3">PORTFOLIO</a>
            </div>
        </div>

    </header>
</div>