header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    a {
        color: whitesmoke;
        text-decoration: none;
        margin-left: 50px;
        &:hover {
            color: #fa2759;
        }
    }
}

#logo {
    margin: 0 !important;
}

.dropdown {
    display: none;
}

.dropbtn {
    display: none;
}

@media(max-width: 1000px) {
    .hide-mobile {
        display: none;
    }
    header {
        padding-left: 50px;
        padding-right: 50px;
    }
    /*-Dropdown menu for responsive*/
    .dropdown {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .dropdown:hover {
        cursor: pointer;
    }
    .dropbtn {
        display: block;
        width: 50px;
        position: absolute;
        top: 2rem rem;
        right: 2rem;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        top: 9vh;
        background-color: black;
        z-index: 99;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 100%;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        margin-left: 0;
    }
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
    /*Dropdown end*/
}