<div class="first-section">
    <div class="headline-portrait">
        <div>
            <h1>Hi,<br> I'm <span class="red">Daniel</span> Johannsen <br> Front End develop<span class="green">e</span>r</h1>
            <a href="#contact">
                <div class="contact-btn">Contact me</div>
            </a>
        </div>
        <div><img src="assets/img/daniel.jpg" alt="daniel johannsen" class="portrait"></div>
    </div>
    <div class="scroll-down-arrow">
        <a href="#skills"><img src="assets/img/down-arrow.png" class="arrow-down"></a>
    </div>
</div>


<!--skill section-->


<div class="skill-section" id="skills">
    <h2 data-aos="fade-up">My Skills</h2>
    <div class="card-section">
        <div class="cards-row">
            <div class="card" data-aos="zoom-in-right"><img src="assets/img/html.png">HTML</div>
            <div class="card" data-aos="zoom-in-up"><img src="assets/img/css.png">CSS</div>
            <div class="card" data-aos="zoom-in-left"><img src="assets/img/js.png">JavaScript</div>
        </div>
        <div class="cards-row">
            <div class="card" data-aos="zoom-in-right"><img src="assets/img/angular.png">Angular</div>
            <div class="card" data-aos="zoom-in-up"><img src="assets/img/git.png">Git</div>
            <div class="card" data-aos="zoom-in-left"><img src="assets/img/api.png">Rest API</div>
        </div>
    </div>
</div>


<!--my work section-->


<div class="my-work-section" id="portfolio">
    <h2 data-aos="fade-up">My work</h2>
    <div class="my-work-nav">
        <div data-aos="zoom-in-right" class="my-work-btn">All</div>
        <div data-aos="zoom-in-up" class="my-work-btn">Angular</div>
        <div data-aos="zoom-in-left" class="my-work-btn">JavaScript</div>
    </div>
    <div class="my-work-project-row">
        <div data-aos="zoom-in-right" class="my-work-project">
            <div class="project-overlay">
                <div class="project-overlay-1">Lorem ipsum</div>
                <div class="project-overlay-2">Lorem ipsum</div>
                <div class="project-overlay-btn">Try out</div>
            </div>
        </div>
        <div data-aos="zoom-in-left" class="my-work-project">
            <div class="project-overlay">
                <div class="project-overlay-1">Lorem ipsum</div>
                <div class="project-overlay-2">Lorem ipsum</div>
                <div class="project-overlay-btn">Try out</div>
            </div>
        </div>
    </div>


    <!--project section-->


    <div class="my-work-project-row">
        <div data-aos="zoom-in-right" class="my-work-project">
            <div class="project-overlay">
                <div class="project-overlay-1">Lorem ipsum</div>
                <div class="project-overlay-2">Lorem ipsum</div>
                <div class="project-overlay-btn">Try out</div>
            </div>
        </div>
        <div data-aos="zoom-in-left" class="my-work-project">
            <div class="project-overlay">
                <div class="project-overlay-1">Lorem ipsum</div>
                <div class="project-overlay-2">Lorem ipsum</div>
                <div class="project-overlay-btn">Try out</div>
            </div>
        </div>
    </div>
</div>


<!--about me section-->


<div class="about-me-section" id="about">
    <div class="about-me">
        <img src="assets/img/daniel.jpg" data-aos="zoom-in-right" class="about-portrait">
        <div class="about-me-text">
            <h2 data-aos="zoom-in-left" class="about-me-headline">About me.</h2>
            <p data-aos="zoom-in-left">Lorem ipsum dolor sit amet consectetur, adipisi hfujiwsaf hfujdiapfh hfuipa fhupa hfrupa</p>
        </div>
    </div>
    <div class="journey-section">
        <div class="journey">
            <div data-aos="zoom-in-right" class="icon-background"><img src="assets/img/walk-line.png" class="icon"></div>
            <p data-aos="zoom-in-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa necessitatibus consequatur blanditiis autem eaque odit beatae, quibusdam provident dolorem fuga atque. Incidunt corporis nesciunt iure reiciendis, illo temporibus alias!</p>
        </div>
        <div class="journey">
            <div data-aos="zoom-in-up" class="icon-background"><img src="assets/img/heart-line.png" class="icon"></div>
            <p data-aos="zoom-in-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa necessitatibus consequatur blanditiis autem eaque odit beatae, quibusdam provident dolorem fuga atque. Incidunt corporis nesciunt iure reiciendis, illo temporibus alias!</p>
        </div>
        <div class="journey">
            <div data-aos="zoom-in-up" class="icon-background"><img src="assets/img/search-line.png" class="icon"></div>
            <p data-aos="zoom-in-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa necessitatibus consequatur blanditiis autem eaque odit beatae, quibusdam provident dolorem fuga atque. Incidunt corporis nesciunt iure reiciendis, illo temporibus alias!</p>
        </div>
        <div class="journey">
            <div data-aos="zoom-in-left" class="icon-background"><img src="assets/img/flight-takeoff-line.png" class="icon"></div>
            <p data-aos="zoom-in-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa necessitatibus consequatur blanditiis autem eaque odit beatae, quibusdam provident dolorem fuga atque. Incidunt corporis nesciunt iure reiciendis, illo temporibus alias!</p>
        </div>
    </div>
</div>


<!--contact section-->


<div class="contact-section" id="contact">
    <div class="contact-section-top">
        <h2 data-aos="fade-up" class="contact-headline">Contact me.</h2>
        <p data-aos="fade-up" class="contact-text">Get in touch via the form below, or by emailing <span>daniel-johannsen@web.de</span></p>
    </div>
    <div class="contact-section-bottom">
        <form action="./src/app/contact/send_mail.php" method="post">
            <label data-aos="fade-up" for="">Name</label>
            <input data-aos="fade-up" required type="text" placeholder="Enter your name">
            <label data-aos="fade-up" for="">Email address</label>
            <input data-aos="fade-up" required type="text" placeholder="Enter your Email address">
            <label data-aos="fade-up" for="">Message</label>
            <textarea data-aos="fade-up" required name="" id="" cols="30" rows="10" placeholder="Enter your message"></textarea>
            <div class="button-section">
                <button type="submit" data-aos="zoom-in-left" class="button">
                    Send
                </button>

            </div>
        </form>
    </div>

</div>