.container {
    background-color: black;
    color: whitesmoke;
    min-height: 100vh;
    padding-top: 200px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 200px;
    a {
        color: #2DFCD8;
    }
}